@import './_variables.scss';

.product-form {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 15px;
	&__fields {
		padding: indent;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		height: 100%;
		gap: $gap;
	}
	&__list-input {
		width: 33%;
		display: flex;
		flex-direction: column;
		gap: $gap;
	}
	&__title {
		margin-bottom: 0.25rem;
		font-size: $small-font-size;
		color: $dark-brown-color;
	}
	&__select {
		background: transparent;
		padding: $padding;
		border: 2px solid $border-blue-color;
		color: $dark-brown-color;
		border-radius: 0.25rem;
		font-size: 1rem;
	}
	&__checkbox {
		display: block;
		& .check-box {
			margin: indent;
			width: 1px;
			height: 1px;
			position: absolute;
			overflow: hidden;
			clip: rect(0, 0, 0, 0);
		}
		& .check-style {
			position: absolute;
			width: 16px;
			height: 16px;
			border: 1px solid $border-blue-color;
			border-radius: 3px;
			margin-left: -20px;
		}
	}
	&__add-btn {
		display: block !important;
	}
}

.check-box:checked + .check-style::before {
	content: '';
	width: 8px;
	height: 8px;
	background-color: $border-blue-color;
	border-radius: 3px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.product-item {
	padding: $indent;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0px $indent $indent;
	}
	&__content {
		display: flex;
		justify-content: flex-start;
		padding: $indent;
		flex-wrap: wrap;
		gap: 10px;
		& > div {
			border-radius: $medium-border-radius;
			padding: $padding;
      width: 40%;
	    flex-grow: 2;
	    border: 1px solid $light-white-color;
      & > span {
	      font-weight: 900;
      }
		}
    &__checkbox-field {
	    flex-grow: 2;
	    order: 2
    }
	}
}
